<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.databasemigration.databasemigration.dao">
	<!-- 一般打打的业务在这里操作 -->
	<select id="runSql" parameterType="java.lang.String">
		<![CDATA[ ${sqlPath}]]>
	</select>
</mapper>