<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="text.pojo" >
	<select id="selAll" resultType="text.pojo.Flower">
		SELECT * FROM Flower
		<where>
			<if test="id != null  and id != ''"> AND id = #{id}</if>
			<if test="name != null  and name != ''"> AND name = #{name}</if>
			<if test="price != null  and price != ''"> AND price = #{price}</if>
			<if test="production != null  and production != ''"> AND production = #{production}</if>
		</where>
	</select> 
</mapper>